{{ define "main" }}
<main>
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <article>
                    <section>
                        <div class="mb-5">
                            <h1 class="pt-5">{{ .Title }}</h1>
                            {{ if isset .Params "subtitle" }}
                                <h3 class="pb-5">
                                    {{ .Params.subtitle | markdownify  }}
                                </h3>
                            {{ end }}
                        </div>
                    </section>
                    <section>
                        <p class="post-body is-justify-content-flex-start">
                            {{ .Content }}
                        </p>
                    </section>
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}