{{ define "main" }}
<main>
    <div class="container home-container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div>
                    <h2 class="pt-5 pb-4">{{ .Title }}</h2>
                </div>
                <div id="countdown">
                    <ul class="mx-auto">
                      <li class="countdown-li"><span id="days"></span>days</li>
                      <li class="countdown-li"><span id="hours"></span>Hours</li>
                      <li class="countdown-li"><span id="minutes"></span>Minutes</li>
                      <li class="countdown-li"><span id="seconds"></span>Seconds</li>
                    </ul>
                  </div>
                  <div id="content" class="emoji">
                    <span>🎉</span>
                    <span>🎉</span>
                    <span>🎉</span>
                  </div>
            </div>
        </div>
    </div>
    <script src="{{ .Site.BaseURL }}js/countdown.js"></script>
</main>
{{ end }}