{{ define "main" }}
<main>
    <div class="container is-max-desktop">
<section class="pt-5 pb-5">
        <div class="columns pt-5 mb-5">
            <div class="column is-half-desktop is-mobile pr-4 is-flex is-vcentered">
                <div>
                    <p class="py-3 home-text">Hello there! I'm <b>Edo</b>. <br><br>
                        I’m passionate about <b>technology</b> and work with startups, focusing on fundraising through <b>syndicates</b>. I also enjoy <b>coding</b>, travelling, and taking on challenges like <b>mountaineering</b>.<br><br>
                        In a previous chapter of my life, I had the honor of competing as a <b>short track speed skater</b> for the Italian National Team, an experience that continues to shape my approach to new ventures.
                </div>
        </div>
        <div class="column is-half-desktop is-mobile pl-4 is-flex is-vcentered">
            <div class="rectangle">
                <h2 class="pb-3">Latest</h2>
                <div class="py-3 home-text home-text-list"> 
                    <ul>
                        {{ $latestBlogs := where .Site.RegularPages "Section" "blogs" }}
                        {{ $latestStuff := where .Site.RegularPages "Section" "stuff" }}
                        
                        {{ $latestContent := sort (union $latestBlogs $latestStuff) ".Date" | last 3 }}
                        
                        {{ range $latestContent }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
    </div>
</div>
</section>
<section>
    <div class="upper-dotted"></div>
    <div class="hero">
    <div class="hero-body">
      <div class=" title pb-5">
        Let's connect to explore opportunities and exchange ideas
      </div>
      <p class="subtitle home-text">
        DM me on
            {{ range $social := .Site.Params.social }}
                {{ with index $social "name" }}
                    {{ if eq . "LinkedIn" }}
                        <a href="{{ index $social "url" }}"><b>{{ . }}</b></a>,
                    {{ else if eq . "X" }}
                        <a href="{{ index $social "url" }}"><b>{{ . }}</b></a>,
                    {{ end }}
                {{ end }}
            {{ end }}

            or send me an email at: {{ .Site.Params.email | markdownify }}.
      </p>
    </div>
</div>
<div class="lower-dotted"></div>
  </section>
  <section class="mt-5">
    <div class="columns pt-5">
        <div class="column is-half-desktop is-mobile">
            <h2 class="mt-4">Blog:</h2>
            <div>
                {{ range first 5 (where .Site.RegularPages "Section" "blogs") }}
                    <ul class="pt-3 pb-3">
                        <li>
                            <h3 class="homepage-post-title pb-2"><a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
                            <div class="post-info">
                                <span>{{ dateFormat "Jan 2, 2006" .Date }}</span>
                                <span> | </span>
                                <span>
                                    {{ if ne .Type "page" }}
                                        {{ if gt .Params.tags 0 }}
                                            <ul class="tags-home">
                                                {{ range .Params.tags }}
                                                    <li>{{ . }} </li>
                                                {{ end }}
                                            </ul>
                                        {{ end }}
                                    {{ end }}
                                </span>
                                {{ if .Draft }} 
                                    <span class="draft-label">DRAFT</span> 
                                {{ end }}
                            </div>
                            <div class="post-description pt-1">
                                {{ if isset .Params "description" }}
                                    {{ .Params.description | markdownify }}
                                {{ else }}
                                    {{ .Summary | markdownify }}&hellip;
                                {{ end }}
                            </div>
                        </li>
                    </ul>
                {{ end }}
                <div class="pt-4 pb-5">
                    <a class="ml-3 mb-5" href="/blogs/">All Entries ⟶</a>
                </div>
            </div>
        </div>
        <div class="column is-half-desktop is-mobile divider">
            <h2 class="mt-4">Stuff:</h2>
            <div>
                {{ range first 5 (where .Site.RegularPages "Section" "stuff") }}
                    <ul class="pt-3 pb-3">
                        <li>
                            <h3 class="homepage-post-title pb-2"><a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
                            <div class="post-info">
                                <span>{{ dateFormat "Jan 2, 2006" .Date }}</span>
                                <span> | </span>
                                <span>
                                    {{ if ne .Type "page" }}
                                        {{ if gt .Params.tags 0 }}
                                            <ul class="tags-home">
                                                {{ range .Params.tags }}
                                                    <li>{{ . }} </li>
                                                {{ end }}
                                            </ul>
                                        {{ end }}
                                    {{ end }}
                                </span>
                                {{ if .Draft }} 
                                    <span class="draft-label">DRAFT</span> 
                                {{ end }}
                            </div>
                            <div class="post-description pt-1">
                                {{ if isset .Params "description" }}
                                    {{ .Params.description | markdownify }}
                                {{ else }}
                                    {{ .Summary | markdownify }}&hellip;
                                {{ end }}
                            </div>
                        </li>
                    </ul>
                {{ end }}
                <div class="pt-4 pb-5">
                    <a class="ml-3 mb-5" href="/stuff/">All Entries ⟶</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</main>
{{ end }}