{{ define "main" }}
<main>
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <article>
                    <div>
                        {{ if isset .Data "Term" }}
                        <h1 class="pt-5 pb-4">Entries tagged - "{{ .Data.Term }}"</h1>
                        {{ else if eq .Type "blog" }}
                            <h1 class="pt-5 pb-1">Articles</h1>
                        {{ else if eq .Type "stuff" }}
                            <h1 class="pt-5 pb-1">Stuff</h1>
                        {{ end }}
                    </div>
                        <div class="homepage-post-list pt-5 pb-3">
    <ul>
        {{- range .Data.Pages -}}
        {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
        <li class="pb-2">
            <h3>
                <a class="homepage-post-title" href="{{ .RelPermalink }}">{{.Title}}</a>
                <span class="list-date"> - </span>
                <span class="list-date">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft
                }} <span class="draft-label">DRAFT</span> {{ end }}</span>
            </h3>
        </li>
    {{ end }}
    {{- end -}}
</ul>
</div>
</article>
</div>
</div>
</div>
</main>
{{ end }}