{{ define "main" }}
<main>
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <article>
                    <div>
                        <h2 class="pt-5 pb-4">{{ .Title }}</h2>
                    </div>
                        <div>
                        <ul>
                            {{- range $index, $key := .Site.Params.Social -}}
                            <li class="pb-2">
                                <span>
                                    <a href="{{ $key.url }}" title="{{ $key.name }}">
                                    {{ $key.name }}
                                </a>
                                </span>
                                {{ with $key.desc }}
                                <span> - </span>
                                <span> 
                                {{ $key.desc | markdownify }}    
                                </span>
                                {{ end }}
                              </li>
                            {{ end }}
                            </ul>
                        </div>
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}