html {
  background-color: var(--darkbackgroundcolor);
}


body {
  color: var(--darkfontcolor);
}


::-moz-selection {
  background: blue;
  color: var(--titlecolor);
  text-shadow: none;
}

::selection {
  background: var(--darkfontcolor);
  color: var(--darkbackgroundcolor);
}


a {
  font-family: var(--mainfont);
  color: var(--darkfontcolor);
  text-decoration: underline;
}

a:hover {
  color: var(--fontcolor);
  background-color: var(--darkfontcolor);
}

strong {
  color: var(--darkfontcolor);
}

.subtitle strong {
  color: var(--darkfontcolor);
}

.is-active {
  text-decoration: underline;
  text-decoration-color: var(--darkfontcolor);
}

h1 {
  color: var(--darkfontcolor);
}


h2 {
  color: var(--darkfontcolor);
}


h2::before {
  color: var(--darkfontcolor);
}

h3 {
  color: var(--darkfontcolor);
}

p {
  color: var(--darkfontcolor);
}

li::before {
  color: var(--darkfontcolor);
}

blockquote {
  border-left: 3px solid var(--darkfontcolor);
}


.header__logo a {
  background-color: var(--darkfontcolor);
  color: var(--darkbackgroundcolor);
}

.header__logo a:hover {
  background-color: var(--darkfontcolor);
  color: var(--darkbackgroundcolor);
}

.header__logo:after {
  background: repeating-linear-gradient(90deg, var(--darkfontcolor), var(--darkfontcolor) 2px, transparent 0, transparent 10px);
}

.toggler {
  border: 2px solid var(--darkfontcolor);
}

.toggle-icon {
  background-color: var(--darkbackgroundcolor);
}

.toggle-icon a {
  background-color: var(--darkbackgroundcolor);
  color: var(--darkfontcolor);
}

.toggle-icon a:hover {
  background-color: var(--darkbackgroundcolor);
  color: var(--darkfontcolor);
}

.navbar-item a {
  color: var(--darkfontcolor);
}

.navbar {
  background-color: var(--darkbackgroundcolor);
}

.navbar-item a:hover {
  color: var(--fontcolor);
  background-color: var(--darkfontcolor);
}

.title {
  color: var(--darkfontcolor);
}

.rectangle {
  border: 2px solid var(--darkfontcolor);
}

.upper-dotted {
  border-top: 3px dotted var(--darkfontcolor);
}

.upper-dotted:after {
  border-top: 3px dotted var(--darkfontcolor);
}

.lower-dotted {
  border-bottom: 3px dotted var(--darkfontcolor);
}

.lower-dotted:after {
  border-bottom: 3px dotted var(--darkfontcolor);
}

.home-text {
  color: var(--darkfontcolor);
}


.tags li::before {
  color: var(--darkfontcolor);
}

.tags a {
  color: var(--darkfontcolor);
}

.tags a:hover {
  color: var(--fontcolor);
  background-color: var(--darkfontcolor);
}

.social-icons a {
  color: var(--darkfontcolor);
}

.social-icons a:hover {
  color: var(--darkfontcolor);
  background-color: var(--darkbackgroundcolor);
}

.footer-info {
  color: var(--darkfontcolor);
}

.divider {
  border: none;
}

@media only screen and (max-width: 767px) {
  .divider {
    border-top: 3px dotted var(--darkfontcolor)
  }
}

.back-arrow a:hover {
  background-color: var(--darkbackgroundcolor);
  color: var(--darkfontcolor);
}