@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --fontcolor: #000;
  --backgroundcolor: #fff;
  --darkbackgroundcolor: #202124;
  --darkfontcolor: #F8F5D7;
  --metacolor: #999;
  --mainfont: 'Fira Code', monospace;
  --articlefont: 'Roboto', sans-serif;

}

/* Main */

html {
  color: #232333;
  font-family: var(--mainfont);
  font-size: 18px;
  line-height: 1.5rem;
}

body {
  display: block;
}

.section {
  padding: 0rem 1.5rem;
}


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--fontcolor);
  color: var(--backgroundcolor);
}

.is-active {
  text-decoration: underline;
}



a {
  font-family: var(--mainfont);
  color: var(--fontcolor);
  text-decoration: underline;
}

a:hover {
  color: var(--backgroundcolor);
  background-color: var(--fontcolor);
}



h1 {
  font-family: var(--mainfont);
  color: var(--fontcolor);
  font-size: 2.25rem;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: var(--mainfont);
  color: var(--fontcolor);
  font-size: 1.5rem;
  font-weight: 600;
}


h2::before {
  color: var(--fontcolor);
  content: '# ';
}

h3 {
  font-family: var(--mainfont);
  color: var(--fontcolor);
  font-size: 1.25rem;
  font-weight: 500;
}



.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media print {
  .header {
    display: none;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo a {
  font-size: 1.5rem;
  height: 100%;
  font-weight: 400;
  font-family: var(--mainfont);
  background-color: var(--fontcolor);
  color: var(--backgroundcolor);
  text-decoration: none;
  padding: 0px 10px;
}

.header__logo a:hover {
  font-family: var(--mainfont);
  background-color: var(--fontcolor);
  color: var(--backgroundcolor);
  text-decoration: none;
}

.header__logo:after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--fontcolor), var(--fontcolor) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  right: 10px;
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}


.toggler {
  border: 2px solid black;
  height: 100%;
  padding: 5px 20px;
  margin-left: 10px;
  width: 30px;
  max-width: 30px;
}


.toggle-icon {
  background-color: var(--backgroundcolor);
  color: var(--fontcolor);
  font-weight: 700;
}

.toggle-icon a {
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 0px;
}

.toggle-icon a:hover {
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 0px;
  background-color: var(--backgroundcolor);
}

.toggle {
  font-size: 1rem;
}

.has-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-left {
  width: 100%;
  display: flex;
  justify-content: left;
}



.navbar-item {
  padding: 0.5rem 1.5rem 0.5rem 0rem;

}

.navbar-item a {
  font-family: var(--mainfont);
  color: var(--fontcolor);
  text-decoration: none;
}

.navbar-item a:hover {
  color: var(--backgroundcolor);
  background-color: var(--fontcolor);
}

.navbar-item-bold a {
  font-weight: 400;
}

.rectangle {
  border: 2px solid var(--fontcolor);
  padding: 5% 10%;

}

.upper-dotted {
  position: relative;
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-top: 3px dotted var(--fontcolor);
}

.upper-dotted:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 100%;
  border-top: 3px dotted var(--fontcolor);
}

.lower-dotted {
  position: relative;
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 3px dotted var(--fontcolor);
}

.lower-dotted:after {
  content: "";
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  border-bottom: 3px dotted var(--fontcolor);
}


/* -- Home --*/


.home-text {
  color: var(--fontcolor);
  font-family: var(--mainfont);
  font-size: 18px;
  line-height: 1.5rem;

}

.home-text-list ul {
  list-style-position: outside;
  list-style: none;
  list-style-type: "* ";
  padding-left: 1ch;
}

.home-text-list li {
  padding-left: 1ch;
  padding-bottom: 1.5ch;
}

.title {
  font-family: var(--mainfont);
}

.homepage-post-title {
  font-size: 1.1rem;
  font-weight: 600;


}

.post-description {
  font-family: var(--articlefont);
}

.description {
  padding-top: 0px;
}


ul {
  list-style-position: outside;
  list-style: none;
  list-style-type: "* ";
  padding-left: 1ch;
}

li {
  padding-left: 1ch;
}

ol {
  padding: 20px;
}


.meta {
  color: var(--metacolor);
  letter-spacing: -0.5px;
}


.post-info {
  font-family: var(--mainfont);
  color: var(--metacolor);
}

.tags-home {
  display: inline;
  padding: 0;
}

.tags-home li {
  display: inline;
}

.tags-home li::before {
  content: "#";
  color: var(--metacolor);
}

.divider {
  border: none;
}

@media only screen and (max-width: 767px) {
  .divider {
    border-top: 3px dotted var(--fontcolor)
  }

}


/* -- Article --*/

.subtitle {
  font-family: var(--mainfont);
}

.post-body {
  font-family: var(--articlefont);
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5rem;
}

.post-body a {
  font-family: var(--articlefont);
}

.tags:last-child {
  margin-bottom: 0rem;
}

.tags ul {
  padding: 0;

}

.tags li {
  display: inline-block;
}

.tags li::before {
  content: "#";
  color: var(--fontcolor);
}

.tags a {
  color: var(--fontcolor);
  text-decoration: none;
}

.tags a:hover {
  color: var(--backgroundcolor);
  background-color: var(--fontcolor);
}

.meta {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--mainfont);
  color: var(--metacolor);
  letter-spacing: -0.5px;
}

.spacer {
  padding: 0px 5px;
}

.spacer::before {
  color: var(--metacolor);
  content: '| ';
}

@media only screen and (max-width: 767px) {
  .spacer::before {
    content: none;
  }
}


.list-date {
  font-family: var(--mainfont);
  color: var(--metacolor);
  font-size: 1.1rem;
}

/* Images & Iframes*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: '↳ ';
}


iframe {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 100%;
  min-height: 400px;
}

.back-arrow a {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0px;
  text-decoration: none;
}

.back-arrow a:hover {
  background-color: var(--backgroundcolor);
  color: var(--maincolor);
}

blockquote {
  border-left: 3px solid var(--fontcolor);
  color: var(--metacolor);
  margin: 0;
  padding-left: 1em;
}

/* -- Footer --*/


footer {
  align-items: center;
  padding: 1rem 0rem;
  margin-top: 1.5rem;
}

.footer-info {
  font-family: var(--mainfont);
}

.social-icons a {
  border-bottom: 0px;
}

.social-icons a {
  color: var(--fontcolor);
  margin-inline-end: 12px;
}

.social-icons a:hover {
  color: var(--fontcolor);
  background-color: var(--backgroundcolor);
  margin-inline-end: 12px;

}

.social-icons a svg {
  height: 26px;
  width: 26px;
}

.social-footer {
  list-style-type: none;
  padding-inline-start: 0px;
}

.social-footer li {
  display: inline-block;
  margin-right: 1px;
}