<header>
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth pb-1">
                <h1 class="title pt-5 mb-1">
                            <span>
                                <a href="{{ .Site.BaseURL }}">{{ .Site.Params.header }}</a>
                            </span>
                            <span>
                                {{ if eq .Site.Params.mode "toggle" -}}
                                <span class="toggle icon is-small">
                                <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a></span>
                                <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
                                {{ end }}
                            </span>
                        </h1>
               <div>
            <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                <div class="navbar-left navbar-start">
                    {{ range .Site.Menus.main }}
                    <div class="navbar-item">
                    <a href="{{ .URL }}"> {{ .Name }}</a></div>
                    {{ end }}
                    
                </div>
                </nav>
                </div>
            </div>
        </div>
    </div>
</header>
