<header>
<div class="container is-max-desktop">
<div class="header pt-5">
    <div class="header__inner">
      <div class="header__logo">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.header }}</a>
        </div>
        <div class="toggler has-centered-content">
            {{ if eq .Site.Params.mode "toggle" -}}
            <span class="toggle-icon is-small">
                <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
            </span>
            <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
            {{ end }}
        </div>
        </div>
        </div>
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div class="navbar-left navbar-start">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <div class="navbar-item {{ if eq $currentPage.RelPermalink .URL }}is-active{{ end }}">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </div>
                {{ end }}
                
            </div>
            </nav>
    </div>
</header>
